*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

body{
    background: #64635c;
    color: #fff;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text_logo{
    font-size: 25px;
    font-family: serif;
    color: rgb(168 124 33);
}
    


.navigation li{
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

.navigation li a{
    font-size: 15px;
}

.navigation li:hover a{
    color: chartreuse;
}

.toggle_btn{
    display: none;
    background: transparent;
    border: none;
    outline: none;
    cursor:pointer;
}

img{
    height: 15%;
}
article{
    display: grid;
    grid-template-columns: 30% 40% 30%;
}
.show_box{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show_title{
    font-family: Nerko One;
    font-size: 90px;
    width: 80%;
    color: rgb(238, 238, 54)
}

h3{
    font-family: Nunito;
    font-size:40px;
}
p{
    font-family: Nunito semiBold;
}

.actions{
    margin: 30px 0;
    font-family: Nuito;
}

.registration{
    background-color: brown;
    padding: 20px 40px;
}
.registration:hover{
    background-color: rgb(42, 134, 165);
}

.contact{
    background-color: cadetblue;
    padding: 10px 25px;
    margin: 0 10px;
}

.contact:hover{
    background-color: rgb(47, 82, 12)
}

.read_more:hover{
    color: chartreuse;
}
[class*="fa"]{
    color:#fff;
    margin-left: 10px;
}

@media screen and (max-width: 660px){
    .show_box{
        justify-content: space-between;
        height: 60vh;
    }
}

@media screen and (max-width: 960px) {
    header{
        flex-direction: row-reverse;
    }
    main{
        background: url("/image/image_1.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .text_logo{
        font-size: 30px;
        font-weight: 600;
    }

    .navigation{
        position:absolute;
        top: 80px;
        left:50%;
        transform:translate(-50%);
        justify-content: center;
        z-index: 10;
        display: none;

    }
    img{
        display: none;
    }
    .navigation.active{
        display:grid;
    }

    .navigation li{
        margin: 20px 0;
        background:black;
        padding:10px 100px;
        text-align: center;
        opacity:0;
        animation:opac 0.5s forwards;
    }

    .navigation li:nth-of-type(1){
        animation-delay: 125ms;
    }

    .navigation li:nth-of-type(2){
        animation-delay: 250ms;
    }
    .navigation li:nth-of-type(3){
        animation-delay: 375ms;
    }
    .navigation li:nth-of-type(4){
        animation-delay: 500ms;
    }

    .toggle_btn{
        display: grid;
    }
    article{
        grid-template-columns:100%;

    }
    .show_box{
        justify-content: space-between;
        width: 80%;
        text-align:center;
    }
    h3{
        font-size: 30px;
    }
}

@keyframes opac{
    25%{
        opacity:0.25;
    }
    50%{
        opacity:0.5;
    }
    75%{
        opacity:0.75;
    }
    100%{
        opacity:1;
    }
}
